.loginForm {
  margin: 20px;
  background-color: #f3e2eb;
  border-radius: 12px;
  padding: 12px 16px 20px;
  border: solid 2px #5e548e;
  box-shadow: 7px 10px 4px 0px rgba(0, 0, 0, 0.44);
  max-width: 500px;
}

.clientLogin {
  font-size: 32px;
  padding: 0px;
}

.input {
  width: 100%;
  border-radius: 8px;
}

.button {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 20px;
  border: none;
  box-shadow: 0 4px var(--purple);
  color: var(--purple-dark);
  background-color: var(--purple-light);
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.2s ease;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 1px;
}

.button:active {
  box-shadow: 0 1px var(--purple);
  transform: translateY(3px);
}

.label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--purple);
}

.signUp {
  text-align: center;
  color: var(--purple-dark);
}

.error {
  color: red;
  margin-top: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: pre-wrap;
}
