.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 32px 0;
  color: var(--purple)
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--purple);
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
